.btn-group {
  display: flex;
}

.loading {
  position: relative;

  &::after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: 'Загрузка...';
    position: absolute;
    background: rgba(colors(white), 0.5);
    z-index: 1;
  }
}

.card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: $margin;
  background: colors(white);
}

.card-body {
  padding: $padding;
  color: colors(dark);
}


.error{
  background: colors(danger);
  color: white;
}

.warning{
  background: colors(warning);
  color: white;
}

