<ion-tabs>
  <ion-tab [root]="tabHome" tabTitle="Главная" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabComplexes" tabTitle="Комплексы" tabIcon="list"></ion-tab>
  <ion-tab [root]="tabStats" tabTitle="Статистика" tabIcon="stats"></ion-tab>
  <ion-tab [root]="tabSettings" tabTitle="Настройки" tabIcon="settings"></ion-tab>
</ion-tabs>
