<!--
  Generated template for the LearnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              icon-only
              (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title">{{ complex?.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="complex">
    <div class="complex-header"
         [style.backgroundImage]="'url('+complex?.image+')'">
      <h5 class="complex-heading">{{ complex?.title }}</h5>
    </div>
    <div class="complex-description">
      <div [innerHTML]="complex?.description | keepHtml"></div>
      <div *ngIf="getVideoLink() && complex?.videoLink">
        <iframe width="100%"
                height="315"
                [src]="getVideoLink()"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; playsinline"
                allowfullscreen
                webkit-playsinline
                playsinline></iframe>
      </div>
    </div>
  </div>
  <div class="learn-wrap">
    <learn *ngFor="let exercise of complex?.exercises"
           [complex]="complex"
           [exercise]="exercise"></learn>
  </div>
</ion-content>
<ion-footer padding>
  <ion-buttons>
    <button ion-button
            [block]="true"
            (click)="startComplex()">Приступить</button>
  </ion-buttons>
</ion-footer>
