<!--
  Generated template for the NewNotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              (click)="close()">
        Отмена
      </button>
    </ion-buttons>
    <ion-title>Новое уведомление</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list-header>
    Время уведомления
  </ion-list-header>
  <ion-list>
    <ion-item text-center
              no-lines
              no-margin
              no-padding>
      <ion-datetime displayFormat="HH:mm"
                    pickerFormat="HH:mm"
                    [(ngModel)]="newDate"
                    cancelText="Отмена"
                    doneText="Готово"></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-list-header>
      Дни недели
    </ion-list-header>
    <ion-item *ngFor="let day of days">
      <ion-label>{{day.title}}</ion-label>
      <ion-checkbox [(ngModel)]="day.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding>
  <button ion-button
          class="add-button"
          [block]="true"
          (click)="save()">
    <span>Сохранить уведомление</span>
  </button>
</ion-footer>
