<ion-header>
  <ion-navbar>
    <ion-title class="title">Комплексы</ion-title>
    <ion-buttons end>
      <button (click)="share()" ion-button
              color="royal">
        <i class="material-icons">
          share
        </i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <complex *ngFor="let complex of complexList" [complex]="complex"></complex>
  <div padding class="error" *ngIf="complexList?.length == 0">
    Не найдено ни одного комплекса упражнений
  </div>
</ion-content>
