.complex-header {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  align-items: flex-end;
  display: flex;
  height: $card-header-height;
  color: colors(white);
  background-size: cover;
  background-position: center center;
}

.complex-heading {
  background: rgba(colors(black), 0.5);
  width: 100%;
  padding: $padding;
  margin: 0;
}
