<div class="complex card">
  <div class="complex-header"
       [style.backgroundImage]="'url('+complex.image+')'">
    <h5 class="complex-heading">{{ complex.title }}</h5>
  </div>
  <div class="card-body">
    <div [innerHTML]="complex.description | keepHtml"></div>

    <ion-buttons>
      <button ion-button
              (click)="openLearn(complex)"
              color="secondary">Инструкция</button>
      <button ion-button
              (click)="openComplex(complex)">Приступить</button>
    </ion-buttons>
  </div>
</div>
