<!--
  Generated template for the CongratsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              icon-only
              (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ complex?.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="congrats"
       padding>
    <h3>Поздравляем!</h3>
    <p>Вы завершили комплекс «{{ complex?.title }}»</p>
    <div class="congrats-buttons">
      <button ion-button
              [full]="true"
              class="congrats-btn"
              (click)="share()">
        <i class="material-icons congrats-icon">
          share
        </i>
        <span>Поделиться</span>
      </button>
      <button ion-button
              [full]="true"
              class="congrats-btn"
              color="secondary"
              (click)="repeat()">
        <i class="material-icons congrats-icon">
          replay
        </i>
        <span>Повторить</span>
      </button>
      <button ion-button
              [full]="true"
              class="congrats-btn"
              color="light"
              (click)="stats()">
        <ion-icon name="stats"
                  class="congrats-icon"></ion-icon>
        <span>Статистика</span>
      </button>
    </div>
  </div>
</ion-content>
