page-congrats {
  .congrats {
    height: 100%;
    text-align: center;
    background-image: url('/assets/imgs/congrats-bg.jpg');
    background-size: cover;
    background-position: center center;
    color: colors(white);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .congrats-icon {
    margin-right: 5px;
    font-size: 1em;
  }

  .congrats-btn {
    margin: 8px 0;
  }
}
