<ion-header>
  <ion-navbar>
    <ion-title class="title">Мечтай и стройней</ion-title>
    <ion-buttons end>
      <button (click)="share()"
              ion-button
              color="royal">
        <i class="material-icons">
          share
        </i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section id="home"
           class="home">
    <iframe width="100%"
            height="315"
            src="https://www.youtube.com/embed/Xv1JzYDKoc8?enablejsapi=1&fs=1&playsinline=1"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; playsinline"
            allowfullscreen
            webkit-playsinline
            playsinline></iframe>
    <h1>4 минуты мысленных упражнений для стройного тела.</h1>
    <p>
      Дорогие мои, <br>
      Хотите похудеть и иметь стройное тело? Без физических усилий и диет. Честно, с гарантией и навсегда.
    </p>
    <p>
      Если да, то это приложение для вас.<br>
      С этим приложением, создать ваше стройное тело можно легко и просто, не вставая с дивана.
    </p>
    <button ion-button
            block
            color="light"
            (click)="collapseInfo()">{{isCollapsed?'Свернуть':'Подробнее'}}</button>
    <article class="home-info"
             [class.show]="isCollapsed">
      <p id="info">
        Почему раньше Вам не удавалось похудеть? Ответ прост. Главное в похудении, то, как вы себя воспринимаете.
        Другими словами, ваше убеждение относительно вашей внешности, влияет на вашу внешность. Если вы воспринимаете
        себя толстым, то будете толстым. Если вы воспринимаете себя стройным, будете стройным.
      </p>
      <p>
        <strong>
          Поэтому для похудения, нужно заменить убеждение – «Я толстый», на новое убеждение – «Я стройный». Это и
          сделает
          данное приложение при помощи мысленных упражнений.
        </strong>
      </p>
      <p>
        А дальше начнут происходить чудесные изменения вашего тела. <br>
        Для создания вашего стройного тела в этом приложении есть две составляющие:<br>
        1. «Базовый комплекс умственных упражнений». С его помощью, вы поменяете убеждение с «Я толстый» на «Я
        стройный» и станете стройным.<br>
        2. «Турбо режим для спортивного тела». Простое физическое упражнение, займет 1 минуту в день. Сделает ваше тело
        спортивным.<br>
      </p>
      <p>
        Рекомендуется начать с «Базового комплекса умственных упражнений» и через две недели регулярных занятий,
        добавить «Турбо режим для спортивного тела». И далее делать и то и другое.
      </p>
      <p>
        Итак, давайте начнем процесс приятного преобразования вашего тела. <br>
        Подробная информация по ссылке, на видео и на сайте <a href="http://kuralov.com/">kuralov.com.</a>
      </p>
    </article>
  </section>
</ion-content>

<ion-footer padding>
  <button ion-button
          block
          class="home-btn"
          (click)="openComplexes()">Перейти к комплексам</button>
</ion-footer>
