page-home {
  .home {
    text-align: center;

    h1{
      color: colors(primary);
    }

    p {
      color: colors(dark);
    }
  }

  .home-info {
    text-align: left;
    overflow: hidden;
    max-height: 0;
    // transition: max-height 0.25s ease-in;

    &.show{
      max-height: 1000px;
    }
  }

  .home-btn{
    margin-bottom: 10px;
  }
}
