<!--
  Generated template for the StatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Статистика</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="card stats-item"
       *ngFor="let stat of stats">
    <div class="card-body">
      <div class="stats-heading">{{stat.title}}</div>
      <calendar [selectedDays]="stat.dates"></calendar>
    </div>
  </div>

  <div padding
       class="error"
       *ngIf="error">
    {{error}}
  </div>
  <button *ngIf="error"
          ion-button
          (click)="updateFromLocal()">Попробовать еще раз</button>

  <div padding
       class="warning"
       *ngIf="stats?.length == 0">
    Вы еще не закончили ни одного комплекса упражнений
  </div>
</ion-content>
