<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Настройки</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="settings">
    <ion-list>
      <ion-item>
        <ion-label>
          Голос помощника
        </ion-label>
        <ion-select [ngModel]="voice"
                    cancelText="Отмена"
                    okText="Выбрать"
                    (ngModelChange)="voiceUpdate($event)">
          <ion-option (ionSelect)="playAudio('female')"
                      value="female">Женский</ion-option>
          <ion-option (ionSelect)="playAudio('male')"
                      value="male">Мужской</ion-option>
          <ion-option (ionSelect)="playAudio('melody1')"
                      value="melody1">Мелодия 1</ion-option>
          <ion-option (ionSelect)="playAudio('melody2')"
                      value="melody2">Мелодия 2</ion-option>
          <ion-option (ionSelect)="playAudio('melody3')"
                      value="melody3">Мелодия 3</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          Уведомления
        </ion-label>
        <ion-toggle [ngModel]="isNotificationsEnabled" (ngModelChange)="notificationsEnabledUpdate($event)"></ion-toggle>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button
              block
              color="light"
              (click)="notifyModal()">
        Напоминания
      </button>
    </div>
  </div>
  <div padding
       class="error"
       *ngIf="error">
    {{error}}
  </div>
</ion-content>
