<ion-item no-margin
          no-padding>
  <ion-datetime displayFormat="MMMM YYYY"
                pickerFormat="MMMM YYYY"
                [min]="minDate"
                [monthNames]="monthNames"
                [ngModel]="currentDate"
                (ngModelChange)="currentDateChanged($event)"
                cancelText="Отмена"
                doneText="Готово"></ion-datetime>
</ion-item>

<div class="calendar">
  <div *ngFor="let day of days"
       class="calendar-day"
       [class.selected]="day.selected"
       [class.disabled]="day.disabled">
    <span class="calendar-index">{{day.index}}</span>
  </div>
</div>
