$border-color: rgba(colors(primary), 0.25);
$border: 1px solid $border-color;

calendar {
  .calendar {
    display: flex;
    flex-wrap: wrap;
    border-top: $border;
    margin: 20px 0;
  }

  .calendar-day {
    width: 14.285714285714286%;
    border: $border;
    border-top: 0;
    border-right: 0;
    height: 40px;

    &:nth-child(7n+7),
    &:last-child {
      border-right: $border;
    }

    &.selected {
      background: $border-color;
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  .calendar-index{
    font-size: 0.8em;
    padding: 0.3em;
    opacity: .75;
  }
}
