// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";



@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

// Functions
@import "functions";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$headings-font-weight: 300;
$colors: (primary: #3D93C6,
secondary: #86CB7F,
danger: #f53d3d,
warning: #FFCC00,
light: #f4f4f4,
dark: #222,
white: #fff,
black: #000,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$label-ios-text-color: colors(black);
$toolbar-ios-title-font-weight: 300;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


$label-md-text-color: colors(black);
$toolbar-md-title-font-weight: 300;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$label-wp-text-color: colors(black);
$toolbar-wp-title-font-weight: 300;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$toolbar-ios-background: colors(primary);
$toolbar-md-background: colors(primary);
$toolbar-wp-background: colors(primary);

$spacer: 8px;

$padding-y: $spacer;
$padding-x: $spacer*2;
$border-radius: $spacer;
$padding: $padding-y $padding-x;
$box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
$margin: $spacer*2;
$card-header-height: 200px;
