<!-- Generated template for the ExerciseComponent component -->
<div class="exercise-row">
  <h6 class="exercise-title">
    {{exercise.title}}
  </h6>

  <div class="exercise-time">
    <span>{{getDurationView(exercise.duration)}}</span>
    <a (click)="editDuration(exercise.duration)"
       href="#"
       class="exercise-edit">
      <i class="material-icons">
        edit
      </i>
    </a>
  </div>
</div>
