.exercise-row {
  display: flex;
  justify-content: space-between;
  padding: $padding;
  padding-left: 0;
  padding-right: 0;

  .exercise-title {
    margin-bottom: 0;
  }

  .exercise-time {
    display: flex;
    align-items: center;

    .exercise-edit {
      display: block;
      text-decoration: none;
      margin-left: 5px;
    }

    .material-icons {
      font-size: 18px;
      color: colors(dark);
    }
  }
}
