<!--
  Generated template for the ExerciseModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              (click)="dismiss()">
        Отмена
      </button>
    </ion-buttons>
    <ion-title>Установить время</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item no-margin
            no-padding>
    <ion-label stacked>Введите продолжительность тренировки</ion-label>
    <ion-input type="number"
               placeholder="Время в секундах"
               min="0"
               max="5940"
               [(ngModel)]="duration"></ion-input>
  </ion-item>
  <button
    class="save-button"
  ion-button
          [full]="true"
          (click)="save()">Сохранить</button>
</ion-content>
