page-exercise {
  .exercise {
    text-align: center;
    position: relative;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding-bottom: 8px;

    .exercise-title {
      padding: 16px;
    }

    .exercise-image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center center;
      margin-bottom: $padding-y;
    }

    .exercise-share {
      position: absolute;
      color: colors(dark);
      right: $padding-y;
      top: $padding-y;
    }

    .exercise-description {
      padding: 0 $padding-x;
    }
  }

  .timer {
    .timer-control {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .timer-icon {
      text-decoration: none;
      margin: 0.1em 0.8em;
      font-size: 3em;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .timer-value {
      font-size: 2.5em;
      display: block;
      margin-bottom: 1em;
      color: colors(primary);
    }
  }
}
