<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              icon-only
              (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{complex?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="exercise">
    <a href="#"
       (click)="share()"
       class="exercise-share">
      <i class="material-icons">
        share
      </i>
    </a>
    <div class="exercise-title">
      <h4>{{ exercise?.title }}</h4>
    </div>
    <div *ngIf="!isPrepared" class="timer">
      <div>Приготовьтесь к упражнению</div>
      <h1 class="timer-value">
        {{ prepareValue }}
      </h1>
    </div>
    <div *ngIf="isPrepared" class="timer">
      <div class="timer-control">
        <a class="timer-icon"
           [class.disabled]="isPrevDisabled()"
           (click)="prev()"
           href="#">
          <ion-icon name="rewind"></ion-icon>
        </a>
        <a class="timer-icon"
           *ngIf="!isRunning"
           (click)="start()"
           href="#">
          <ion-icon name="play"></ion-icon>
        </a>
        <a class="timer-icon"
           *ngIf="isRunning"
           (click)="stop()"
           href="#">
          <ion-icon name="pause"></ion-icon>
        </a>
        <a class="timer-icon"
           (click)="next()"
           href="#">
          <ion-icon name="fastforward"></ion-icon>
        </a>
      </div>
      <h1 class="timer-value">
        {{ timerValue }}
      </h1>
    </div>
    <div class="exercise-image"
         [style.backgroundImage]="'url('+exercise?.image+')'">
    </div>
    <div class="exercise-description" [innerHTML]="exercise?.description | keepHtml"></div>
  </div>
</ion-content>
