<div class="complex">
  <div class="complex-header"
       [style.backgroundImage]="'url('+exercise.image+')'">
    <h5 class="complex-heading">{{ exercise?.title }}</h5>
  </div>
  <div class="complex-description"
       [innerHTML]="exercise?.description | keepHtml"></div>
</div>
