page-notifications-modal {
  .notification {
    display: flex;
    align-items: center;
    padding: 5px 0;

    &__remove {
      font-size: 18px;
    }

    &__days {
      margin-top: 5px;
      display: flex;

      span {
        display: inline-flex;
        margin-right: 5px;
        color: rgba(colors(dark), 0.75);

        &::after {
          content: ', ';
          display: inline-block;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .add-button {}
}
