<!--
  Generated template for the NotificationsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              (click)="dismiss()">
        Закрыть
      </button>
    </ion-buttons>
    <ion-title>Напоминания</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="notification"
       *ngFor="let notification of notifications">
    <div class="notification__info">
      <div class="notification__time">{{notification.time}}</div>
      <div class="notification__days"><span *ngFor="let day of notification.days">{{getDayTitle(day)}}</span></div>
    </div>
    <ion-item no-lines>
      <ion-toggle [ngModel]="notification.enabled" (ngModelChange)="updateNotification($event, notification)"></ion-toggle>
    </ion-item>
    <a (click)="remove(notification)"
       class="notification__remove">
      <ion-icon name="trash"></ion-icon>
    </a>
  </div>
  <div padding
       class="warning"
       *ngIf="notifications?.length == 0 && loaded">
    Не установлено ни одного напоминания
  </div>

  <div padding
       class="error"
       *ngIf="error">
    {{error}}
  </div>
  <button *ngIf="error"
          ion-button
          (click)="updateFromLocal()">Попробовать еще раз</button>

</ion-content>
<ion-footer padding>
  <button ion-button
          class="add-button"
          [block]="true"
          (click)="addNew()">
    <span>Добавить</span>
  </button>
</ion-footer>
