<!--
  Generated template for the ComplexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button
              icon-only
              (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{complex?.title}}</ion-title>
    <ion-buttons end>
      <button (click)="share()"
              ion-button
              color="royal">
        <i class="material-icons">
          share
        </i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <exercise [exercise]="exercise"
            *ngFor="let exercise of complex?.exercises"></exercise>
  <button ion-button
          [full]="true"
          (click)="startComplex(complex)">Начать</button>
</ion-content>
